@import "../node_modules/@solana/wallet-adapter-react-ui/styles";
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #666; /* or add it to the track */
  padding: 1px;
}

/* Add a thumb */
*::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
  margin: 1px;
}

.bit-font {
  font-family: "VT323", monospace;
}
